<!DOCTYPE html>
<html lang="fa">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header><h1>Simple TODO App</h1></header>
    <main>
        <%- body %>
    </main>
</body>
</html>